* {
    box-sizing: border-box;
}
  
  body {
    margin: 0 auto;
    font-family: 'Merriweather', serif;

  }
  
  a {
    color: #a66;  
    text-decoration: underline;  
  }
  
  a:hover, a:focus {
    color: black;  
    text-decoration: none;   
    outline: none;  
  }
  
  a:visited {
    color: #a85;  
  }
  
  a:active {
    color: #a44;  
    font-weight: bold;  
  }
  
  header {
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
  
  section {
    float: left;
    width: 50%;
    text-indent: 20px;
  }
  section ul {
    padding-left: 20px;
    list-style-position: inside;
    list-style-type: square;
}
section ol {
    list-style-type: lower-alpha;
}


section ul li {
    margin: 0;  
    padding-left: 5px;  
}

  aside {
    float: left;
    width: 30%;
  }
 
  aside ul li {
    line-height: 1.6;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header,section, aside, nav,footer {
    padding: 20px;
  }
   
  
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  

  
  .navbar ul li {
    list-style: none;
    border: 2px solid #a66;
    margin-bottom: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar ul li a:hover{
    color: black;
  }
  
  
  a[href^="http"]:not([href*="st-huxleys"])::after {
    content: url('link.svg'); 
    margin-left: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
  @font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('fonts/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
}
